<section class=" cars container mt-5">
    <h1 class="text-center mb-5 text-primary ">¿QUIÉNES SOMOS?</h1>
    <div class="row">
      <div class="col">
        <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body text-center">
            <h5 class="card-title fs-5 ms-2 text-center text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="46"
                height="46" fill="currentColor" class="bi bi-arrow-right-circle text-primary" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
              </svg></h5>

            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    MISIÓN
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><code>Ofrecer al Joven y Adulto una nueva oportunidad para relacionarse y
                    mejorar sus condiciones para el mundo del trabajo.</code>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body text-center">
            <h5 class="card-title fs-5 ms-2 text-center text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="46"
                height="46" fill="currentColor" class="bi bi-binoculars-fill text-primary" viewBox="0 0 16 16">
                <path
                  d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5z" />
              </svg></h5>
            <div class="accordion" id="accordionExample">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      VISIÓN
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><code>Ofrecer la formación para el trabajo de forma dinámica, abarcando la
                         formación inicial de nuestros jóvenes y adultos.</code></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body text-center">
            <h5 class="card-title fs-5 ms-2 text-center text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="46"
                height="46" fill="currentColor" class="bi bi-universal-access-circle text-primary " viewBox="0 0 16 16">
                <path
                  d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z" />
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8" />
              </svg></h5>

            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    OBJETIVOS
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><code>Una formación profesional acorde a la demanda local que responda a los
                     perfiles profesionales aprobados por el INET.</code>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
