<section class=" cars container mt-5">
  <h1 class="text-center mb-5 text-primary">CURSOS DE INICIO CUATRIMESTRALES</h1>
  <div class="row">
    <div class="col">
      <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body text-center">
          <p class="card-title fs-5 ms-2 text-center">turno Mañana</p>

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <i class="bi bi-sun-fill"></i>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><code>
                  <ol>
                    <li>Albañilería(Anual)</li>
                    <li>Chapista y Pintor de Carroc.(Anual)</li>
                    <li>Carpintería(Anual)</li>
                    <li>Corte y Confección (Anual)</li>
                    <li>Reparación y Mantenimiento de Equipo Electr.(Anual)</li>
                    <li>Tapiceria(Anual)</li>
                    <li>Reparación y Armado de PC(Anual)</li>
                    <li>Instalador Gasista 3ra. Cat. (Anual)</li>
                    <li>Construcción de Albañileria (Anual)</li>
                    <li>Confeccionista, Modista (2° Cuat.)</li>
                    <li>Electricista Automotor (2° Cuat.)</li>
                    <li>Mecánica de Sistemas de Encendido y Alimentación(2° Cuat.)</li>
                    <li>Montador Electricista Domiciliario(1°Cuat.)</li>
                    <li>Electricista de Inmueble(3°Cuat.)</li>
                    <li>Electricista Industrial(2°Cuat.)</li>
                  </ol>
                </code>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body text-center">
          <p class="card-title fs-5 ms-2 text-center ">Turno tarde</p>
          <div class="accordion" id="accordionExample">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <i class="bi bi-cloud-sun-fill"></i>
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><code>
                    <ol>
                      <li>Albañilería (Cuat.)</li>
                      <li>Chapista y Pintor de Carroc.(Anual)</li>
                      <li>Carpintería (Anual)</li>
                      <li>Reparación y Mantenimiento de Equipo Electronicos(Anual)</li>
                      <li>Electricista de Automotores(Anual)</li>
                      <li>Tapiceria(Anual)</li>
                      <li>Reparación y Armado de PC(Anual)</li>
                      <li>Instalador Gasista 3ra. Cat.(Anual)</li>
                      <li>Construcción de Albañileria(Anual)</li>
                      <li>Confeccionista, Modista(2° Cuat.)</li>
                      <li>Electricista Automotor(2° Cuat.)</li>
                      <li>Mecánica de Sistemas de Encendido y Alimentación(2° Cuat.)</li>
                      <li>Montador Electricista Domiciliario (1°Cuat.)</li>
                      <li>Mecánico Motos(3°Cuat.)</li>
                      <li>Pastelero(2°Cuat.)</li>
                      <li>Electricista de Inmueble(3°Cuat.)</li>
                      <li>Electricista Industrial(2°Cuat.)</li>
                    </ol>
                  </code></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body text-center">
          <p class="card-title fs-5 ms-2 text-center">Turno Noche</p>

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  <i class="bi bi-moon-stars-fill"></i>
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><code>
                  <ol>
                    <li>Carpintería (Anual)</li>
                    <li>Chapista y Pintor de Carroc.(Anual)</li>
                    <li>Estructura Metálica Alivianada(Anual)</li>
                    <li>Reparación y Mantenimiento de Equipo Electronicos(Anual)</li>
                    <li>Electricista en Inmuebles(Anual)</li>
                    <li>Tapiceria(Anual)</li>
                    <li>Reparación y Armado de PC(Anual)</li>
                    <li>Instalador Gasista 3ra. Cat.(Anual)</li>
                    <li>Construcción de Albañileria(Anual)</li>
                    <li>Confeccionista, Modista(2°Cuat.)</li>
                    <li>Electricista Automotor(2°Cuat.)</li>
                    <li>Mecánica de Sistemas de Encendido y Alimentación(2°Cuat.)</li>
                    <li>Montador Electricista Domiciliario(1°Cuat.)</li>
                    <li>Electricista de Inmueble(3°Cuat.)</li>
                    <li>Panadero(2°Cuat.)</li>
                    <li>Electricista Industrial(2°Cuat.)</li>
                  </ol>
                </code>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
