<section class="w-50 mx-auto text-center pt-4 mt-3">
  <h1 class="text-center p-2 fs-2 border-top border-3 mb-3 boda">¡Feliz 50 Aniversario!</h1>
    
  <div class="">
    <div class="row border-bottom border-3 mb-4 ">
      <div class="col-12 col-md-6 col-lg-6">
        <h1>
          <img class="logo" src="50 anios.png"  alt="Aniversario">
        </h1>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <h5 class="text-center p-2 f-1  mb-5 ">Hoy celebramos con gran alegría medio siglo de historia y logros de 
          <span class="titulo">Centro de Formacion Profesión N° 1</span>. Desde nuestros humildes comienzos en 1974, 
          hemos crecido y prosperado gracias al apoyo y dedicación de cada miembro de nuestra Institución.
        </h5>
        <h5 class="text-center p-2 f-1">Gracias por ser parte fundamental de estos 50 años de éxitos y avances.
           Estamos emocionados por lo que vendrá y esperamos seguir contando con su apoyo en esta nueva etapa.</h5>
  
      </div>
    </div>
  </div>    
</section>