<section>
    <div class="w-75 m-auto text-center  " id="equipo">
      <h1 class="mb-5 fs-2 ">Un equipo pequeño con <span class="text-primary ">Resultado Grande</span></h1>
      <p class="fs-5">Desarrollar Software y que tenga exito, es como comer vidrio y mirar al abismo. Es decir que los
        primeros meses son
        emocionante. luego la realidad se impone, las cosas no van tan bien como se habia planeado, los clientes no se
        inscriben,
        la tecnologia o el producto no funciona tan bien como se pensaba.</p>
      <p class="fs-5">Si te sientes listo para este reto, te esparemos para que te unas a nosotros.</p>
    </div>
  </section>