.boda,.titulo{
    color: #ffbf00;
}
img{width: 320px;
    height: 320px;
    border-radius: 20px;
    justify-content: center; }

@media (max-width:834px) {
    img{
        width: 220px;
        height: 220px;
    }
    h5{
        font-size: 15px;
    }
}

@media (max-width:576px) {
    img{
        width: 220px;
        height: 220px;
    }    
    h5{
        font-size: 15px;
    }   

    
}