@media (max-width:576px) {

    h5{
        font-size: 15px;
    }
}

/*=============================Pantalla pequeña=============================*/
@media  (max-width:1380px){
    #intro, #equipo{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    img{
        width: 180px;
        height: 160px;
    }
    p{
        font-size: 15px;
    }


}
/*=============================Pantalla pequeña=============================*/
@media  (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    img{
        width: 180px;
        height: 160px;
    }
    p{
        font-size: 15px;
    }


}

/*======================== Pantalla super pequeñas ======================*/
@media (max-width:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    img{
        width: 180px;
        height: 160px;
    }
    p{
        font-size: 15px;
    }
}
