<!--===============Reseña Historica==============-->
<main class="w-50 mx-auto text-center pt-4 mt-3">
    <h1 class="text-center p-2 fs-2 border-bottom border-3 mb-3 text-primary">Reseña Historica del Establecimiento</h1>
</main>

<section class="container-fluid">
    <div class="row w-75 mx-auto  servicio-fila">
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-4 icono-wrap">
        <img class="" src="historia1.png" alt="desarrollo" width="280" height="260">
        <div>
          <p class="px-4">Por Ley N° 15240, sancionada por el Congreso Nacional el 15 de Noviembre de 1959, se creó el Consejo 
            Nacional de Educación Técnica (CONET) bajo la jurisdicción quedaron todas la Escuelas que hasta la fecha dependían 
            de la Dirección General de Enseñanza Técnica o de la Comisión Nacional de Aprendizaje y Orientación Profesional.
            En conmemoración a este hecho, fue instituido el 15 de Noviembre como "Día de la Educación Técnica"</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-4 icono-wrap">
        <img src="historia2.png" alt="desarrollo" width="280" height="260">
        <div>
          <p class="px-4">En 1971, la Ley 19206 modificó parcialmente el contenido de la Ley de creación del CONET, 
            fijando su estructura definitiva. En su artículo 4° detalla la misión del organismo de promover la capacitación,
            actualización e información Profesional y Artesanal a través de la programación, normatización, coordinación, 
            investigación y supervisión general de la Educación Técnica.</p>
        </div>
      </div>
    </div>
    <div class="row w-75 mx-auto  servicio-fila">
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-4 icono-wrap">
        <img src="historia3.png" alt="desarrollo" width="280" height="260">
        <div>
          <p class="px-4">El 1° de Agosto de 1974, el Consejo Nacional de Educación Técnica (CONET) a través de 
            su Dirección General de Formación Profesional por Resolución N° 13190/94, creó el Centro de Formación 
            Profesional N° 1 de San Salvador de Jujuy, con sede en calle El Salvador N° 520 del Barrio Mariano Moreno.
            En el momento de su creación, la Planta Funcional estaba integrada por un Director, una Secretaria, un Maestro de Cultura General y un Maestro de Enseñanza Práctica.
            La 1er. especialidad de taller fue Carpintería.</p>
        </div>
      </div>
    </div>
  </section>