.header{
    background-color: rgb(248, 249, 250);
}
.nav-link:hover{
    text-decoration:underline;
    color: rgb(10, 88, 202);
}

@media (max-width:576px) {
    img{
        width: 45px;
    }
    
}